body {
  background-color: #EAF6F6;
  text-align: center;
}

div {
  position: relative;
}

hr {
  border: none;
  width: 10%;
  border-top: 5px dotted grey;
  margin:40px auto;
}

.cld1 {
  position: relative;
  top: 20px;
  left: 30%;
}

.cld2 {
  display: block;
  position: relative;
  left: 10%;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #66BFBF;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  font-size: 1.5rem;
}

h4 {
  color: #BAF6F6;
  font-size: 0.75rem;
}

p {
  font-size: 1.2rem;
  color: #40514E;
}
.cmd{
  font-size: 1.5rem;
}
.bottom-container {
  background-color: #66BFBF;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top:40px;
}
a{
  padding: 10px 20px;
  color: #11999E;
  text-decoration: none;
}
a:hover{
  color: #BAF6F6;
}
.skills {
  padding: 30px 0;
  width: 50%;
  text-align: left;
  margin: 0 auto;
  line-height: 1.5;
}

.com {
  margin-top: 28px;
  padding-right: 20px;
  width: 25%;
  float: left;
}
.com1{
  margin: 50px;
}
.img1{
  margin-top: 50px;
  margin-bottom: 50px;
}
.food {
  width: 25%;
  float: right;
  margin-top: 20px;
}

.btn {
  background: #00ffd5;
  background-image: -webkit-linear-gradient(top, #00ffd5, #21a2a6);
  background-image: -moz-linear-gradient(top, #00ffd5, #21a2a6);
  background-image: -ms-linear-gradient(top, #00ffd5, #21a2a6);
  background-image: -o-linear-gradient(top, #00ffd5, #21a2a6);
  background-image: linear-gradient(to bottom, #00ffd5, #21a2a6);
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 27px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background: #3d8385;
  background-image: -webkit-linear-gradient(top, #3d8385, #275f61);
  background-image: -moz-linear-gradient(top, #3d8385, #275f61);
  background-image: -ms-linear-gradient(top, #3d8385, #275f61);
  background-image: -o-linear-gradient(top, #3d8385, #275f61);
  background-image: linear-gradient(to bottom, #3d8385, #275f61);
  text-decoration: none;
}

.last {
  line-height: 2;
}
